# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
.eggs/
build/
dist/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/audio/
staticfiles/

# Environments
.env
.env.local
.env.*.local
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover

# Node (just in case)
node_modules/
